@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-bg: 0deg 0% 100%;
        --color-content: 359deg 100% 0%;
    }
    @media (prefers-color-scheme:dark){
        :root{
            --color-bg: 359deg 100% 0%;
            --color-content: 0deg 0% 100%;
        } 
    }
}
@media (min-width: 768px) {
  .hero-text{
    font-size: 4.5rem;
    line-height: 4rem;
    text-align: start;
  }
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.down-arrow{
    animation: bob 1s infinite;
}
@keyframes bob {
  0%, 100% {
    transform: translateY(0); /* Start and end position, element is at its normal position */
  }
  50% {
    transform: translateY(-20px); /* Move the element up by 20 pixels at 50% of the animation */
  }
}

.placard-home{
    animation: drop 2s ease-in-out, swing 2s linear 1.8s infinite;
}

.placard-project{
    animation: swing 5s linear 2.8s infinite;
}
.placard-contact{
    animation: swing 1.5s linear 2.8s infinite;
}

  @keyframes swing {
    0% {
      transform: rotate(-2deg); /* Start position, no swing */
    }
    25% {
      transform: rotate(0deg); /* Swing to the right at 50% */
    }
    50% {
        transform: rotate(2deg); /* Start position, no swing */
      }    
    75% {
        transform: rotate(0deg); /* Start position, no swing */
      }    
    100% {
      transform: rotate(-2deg); /* Swing to the left at 100%, creating an infinite loop */
    }
  }


  
